<%- include("header"); -%>


<body>

   <div class="player-card player-card1">
    
       <div class= 'name-plate'>
        <!-- <h1 class="username"></h1> -->
        <img class="online"    src="../img/rec.png" />
        <!-- <div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> -->
        <img class="rank" 
             > 
      
        </div>

    <div class="data">

        <p>Lifetime kills:
            <%=kingRothgardOJ.lifeTimeKills  %> 
            </p>
        <p>Lifetime damage:
             <!-- %=lifeTimeDamageKey  % -->
        </p>
        <p>Level:
             <!-- %=levelKey  % -->
            </p>
        
        <p>Main: 
            <!-- %=mainNameKey  % -->
        </p>
        
<!-- 
        a href="/
        %=nameKey%"
             more </a> -->
    </div>




    





     
 
 
 
 
 
 </div>
   
    
    
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>

