<%- include("header"); -%>
   <nav class="navbar navbar-expand-lg navbar-dark navbar-customclass  ">
      <a class="navbar-brand brand" href="#">APEX Friends
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
         aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse space " id="navbarNavDropdown">
         <ul class="navbar-nav ml-auto">
            <li class="nav-item px-3 ">
               <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>



            <li class="nav-item px-3 dropdown">
               <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink" role="button"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Players
               </a>
               <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="/Naff">Naff</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="/Aeriun">Aeriun</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="/CamThings">CamThings</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="/Imissedmygrapple">Imissedmygrapple</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="/CGK0">CGK0</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="/KingWonderBoy300">KingWonderBoy300</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="/AGL WolveZ">AGL WolveZ</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="/Parkesss">Parkesss</a>
               </div>

            </li>
            <li class="nav-item user px-3 nav-search">
               <form class="form-inline">
                  <input class="form-control mr-sm-2" type="search" placeholder="username" aria-label="username">
                  <button class="btn btn-outline-danger my-2 my-sm-0 px-4" type="submit">Search</button>
               </form>
            </li>

         </ul>

      </div>





   </nav>



   </head>

   <body>

      <div class="row player">
         <div class=" col-xl-6 col-lg-12 col-md-12 col-sm-12 row-padding center">
            <div class="player-plate center">
               <p>
                  <%= name %>
               </p>
               <p>
                  KD : total.kd.value
               </p>


               <p>
                  Online/offline
                  <!-- realtime.currentState : "offline" or "online" -->
               </p>
            </div>
         </div>

         <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 center row-padding personal-player-data ">
            <div class="player-sub">
               <p> Currently banned
                  global.bans.isActive
               </p>

               <p>Last Played Legend:
               </p>

            </div>

            <div class="player-sub">
               <p>Rank Stats</p>
               <p>Rank: global.rank.rankName</p>
               <p> Rank Score: global.rank.rankScore</p>

            </div>


            <div class="player-sub">
               <p> Current Season Stats</p>

               <p> Wins This Season:
                  total.wins_aeason14.value</p>
               <p></p>Kills this season:
               total.kills_season_14</p>
               <p> Battle Pass Level: gloabl.battlepaass.level</p>
            </div>

            <div class="player-sub player-sub-last">
               <p>Life Time Stats </p>
               <p>Lifetime kills:
               </p>
               <p>Lifetime damage:
               </p>
               <p>Headshots:
                  total.headsshots.value
               </p>
               <P>BR Games Played:
                  total.gamesplayed.value
               </P>
               <p>Executions:
                  total.executions.value
               </p>
               <p>
                  Revives:
                  total.revives.value
               </p>
            </div>









         </div>






      </div>


      <%- include("footer"); -%>
         <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
         <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
         <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
   </body>

   </html>