<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Individual user</title>
</head>
<body>
    <div>
        <div class="player-card">
            <div class= 'name-plate'>
            <h1> <%= name %> </h1>
            <img class="online-staus" href="green/red" >
     
         </div>
     
         <div>
             <p>Lifetime kills:  </p>
                <P>percentile</P>
             <p>Lifetime damage:</p>
                <p>percentile:</p>
             <P>Lifetime headshots:</P>
                <p>percentile</p>
             <p>rank img  </p>
             
         </div>

         <div>
            <h4>main</h4>
            <p>kills</p>
            <p>percentile</p>

         </div>


         <div>

            <h4>
                <p>Sessions overview </p>
                <p>avegage length of matches</p>
                <p>longest session</p>
                <p>highest kill game </p>
                <p>lowest kill game </p>
                <p>highest damage game </p>
                <p>number of 0 damage games kekw</p>
                <p>average time alive </p>
            </h4>
         </div>

    </div>
</body>
</html>