                      /* Fonts  */
                      @font-face {
                        font-family: 'blocktastic';
                        src: url('/Fonts/blocktastic-webfont.woff') format('woff');
                        font-weight: normal;
                        font-style: normal;
                    
                    }
                    
                    
                    
                    
                    @font-face {
                        font-family: 'blocktastic';
                        src: url('/Fonts/blocktastic-itl-webfont.woff') format('woff');
                        font-weight: normal;
                        font-style: italic;
                    
                    }
                    
                    
                    
                    
                    @font-face {
                        font-family: 'spaceport';
                        src:  url('/Fonts/spaceport_2006-webfont.woff') format('woff');
                        font-weight: normal;
                        font-style: normal;
                    
                    }
                      
                    
                    .space {
                      font-family: 'spaceport';
                    }
                      
                      
                      
                      /* NAVBAR  */
                      .navbar-customclass {
                        background-color: #171717;
                        
                    }

                    .footer-customclass {
                      
                      background-color: #171717;
                  }


                      .brand {
                        margin-left: 3%;
                        font-family: 'blocktastic';
                        letter-spacing: 1px;

                      }

                      /* .nav-right {
                        margin-left: 75%;
                      } */

                      /* .nav-item {
                        padding-left: 2%;
                        padding-right: 2%;
                      } */

                      .usersearch {
                        padding-left: 2%;
                      }


                      /* search  */
                      @media (max-width: 992px) { 
                        .nav-search{
                          padding-top: 3%
                        }
                      }

                     
                      /* .form {
                        justify-content: center;
                      } */

                      
                      /* LANDING PAGE  */

                         
/* banner */
.cover {
  background-color: #171717;
 
}


/* .img-center {
  margin: auto;
  width: 50%
} */


.userrow {
  max-height: fit-content;
}

.userplate {
  background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* max-width: fit-content; */
    max-height:fit-content
}

.center {
  margin: auto;
  width: 50%;
  

}

.name-plate {
  text-align: center;
}

.username {
  font-family: 'spaceport';
  font-size: 3.5rem;
}


.data {
  padding-top: 6%;
  padding-bottom: 6%;
}

.player-link {
  color: #c13327;
}
.player-link:hover {
  color: #932820;
}

/* 
                      .main-background {
                        pointer-events: none;
                        position: absolute;
                        z-index: -1;
                        opacity: 0.2;
                        width: 50%;
                        height: 270px;
                        object-fit: cover;
                      }

                      .data {
                        align-self: center;
                      }
                      
                      .username {
                       
                           padding-left: 20px;
                      }



                      .rank {
                        grid-area: rank;
                        justify-self: center;
                      }
                      
                      .name {
                        display: flex;
                        justify-content: center; 
                        align-items: center; 
                      }
                      
                      .player {
                        justify-content: center; 
                        align-items: center; 
                      }

                      .center {
                        text-align: center;
                      } */
                      

                        /*  */


















                        /* FOOOTER */

                        /* .footer {
  /* grid-area: footer; */
  /* padding-bottom: 20px;
                         } */
                        





                        

































/* aditional formating for navbar */

/* nav {
  grid-area: nav;
} */

/* main container for content  */
/* body.main {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 60px 270px 270px 270px 270px 150px;
  grid-template-areas:
    "nav nav"
    "player1 player2"
    "player3 player4"
    "player5 player6"
    "player7 player8"
    "footer footer";
} */


/* 
.player-card1 {
  grid-area: player1;
}

.player-card2 {
  grid-area: player2;
}
.player-card3 {
  grid-area: player3;
}
.player-card4 {
  grid-area: player4;
}
.player-card5 {
  grid-area: player5;
}
.player-card6 {
  grid-area: player6;
}
.player-card7 {
  grid-area: player7;
}
.player-card8 {
  grid-area: player8;
} */

/* individual cards */
/* at view port 1100 wide should swit to single card per row */
/* .player-card {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
} */


/* .main-background {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  opacity: 0.2;
  width: 50%;
  height: 270px;
  object-fit: cover;
} */

/* #outer {
  overflow: hidden;
}
.trim {
  overflow: hidden; */

/* .name-plate {
  align-self: center;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  grid-template-areas:
    "name online"
    "rank rank";
} */

/* .data {
  align-self: center;
}

.username {
  grid-area: name;

  padding-left: 20px;
} */
/* .online {
  height: 40px;
  width: auto;
  align-self: center;
  justify-self: center;
  grid-area: online;
  padding-left: 10px;
} */

/* .rank {
  grid-area: rank;
  justify-self: center;
} */

/* .name {
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.player {
  justify-content: center; 
  align-items: center; 
}

.center {
  text-align: center;
} */
