/* aditional formating for navbar */

nav {
    grid-area: nav;
}



/* main container for content  */
body {
 display: grid;
 grid-template-columns: 50% 50%;
grid-template-rows: 56px auto auto auto auto ; 
grid-template-areas: 
"nav nav"
"player1 player2"
"player3 player4"
"player5 player6"
"player7 player8"

;
} 

.player-card1 {
    grid-area: player1;
}

.player-card2 {
    grid-area: player2;
}





/* individual cards */

.player-card {
   
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%  ;
    
    
}

.main-background {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: auto;
    z-index: -1;
    opacity: 0.2;
}


.name-plate {
   align-self: center;
   display: grid;
   grid-template-columns: auto auto;
   grid-template-rows: auto;
   grid-template-areas: 
   "name online"
   "rank rank"
   ;
}

.data {
    align-self: center;
 }


 .username {
    grid-area: name; 
    justify-self: center;
 }
 .online {
     height: 40px;
     width: auto;
     align-self: center;
     grid-area: online;

 }

 .rank {
     grid-area: rank;
     justify-self: center;
 }